'scopeName': 'source.xml'

'patterns': [

#Comments

# {
#  'begin': '\\A'
#  'end': '\\Z'
#  'name': 'source.xml'
# }


    # Block comments
   {
    'begin': '<comment>'
    'end': '</comment>'
    'name': 'comment.block.xml'
   }

 ]
